{% extends 'base.html.twig' %}

{% block title %}Liste des commandes clients{% endblock %}
    {% block stylesheets %}
        <style>
            .pointer:hover {
                cursor: pointer;
            }
            .point-vert{
                height: 15px;
                width: 15px;
                background: darkgreen;
                border-radius: 50%;
            }
        </style>
    {% endblock %}
{% block body %}
    <section class="table-components table-responsive table-responsive mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h2>Liste des commandes clients</h2>
                </div>
                <div class="col-6 text-end">
                    <a href="{{ path('app_commande_client_new') }}" class="btn btn-primary {{ count_commande_client_etat_false > 0 ? 'disabled' : ''}} ">Ajouter une commande</a>
                </div>
            </div>
            <div class="row">
                <div class="col-10 mt-3">
                    <button id="exportCSV" onclick="exportCSV()" class="btn btn-warning">CSV</button>
                    <button id="exportExcel" onclick="exportExcel()" n class="btn btn-warning">Excel</button>
                    <button id="exportPDF" onclick="exportPDF()" class="btn btn-warning">PDF</button>
                </div>
                <div class="col-2 text-end mt-3">
                    <input type="text" id="search-all" class="form-control" placeholder="Search in tableau">
                </div>
            </div>
            <table class="table table-striped mt-3" id="myTable">
                <thead class="table-dark">
                <tr>
                    <th>N° commande</th>
                    <th>Date commande</th>
                    <th>Date Livrée</th>
                    <th>Observation</th>
                    <th>Total Ht</th>
                    <th>Total Tva</th>
                    <th>Total Ttc</th>
                    <th>Coupon</th>
                    <th>N° Facture</th>
                </tr>
                </thead>
                <tbody>
                {% for commande_client in commande_clients %}
                    <tr class="border-1 pointer" data-bs-toggle="collapse" data-bs-target="#accordion{{ commande_client.id }}"
                        aria-expanded="false" aria-controls="accordion{{ commande_client.id }}">
                        <td scope="row">
                            <span class="{{ commande_client.etatValide ? 'point-vert' : '' }}"></span>
                            {{ commande_client.numeroCommande }}
                        </td>
                        <td>{{ commande_client.dateCommandeAt ? commande_client.dateCommandeAt|date('d-m-Y à H:i') : '' }}</td>
                        <td>{{ commande_client.dateLivraisonAt ? commande_client.dateLivraisonAt|date('d-m-Y à H:i') : '' }}</td>
                        <td>{{ commande_client.observation }}</td>
                        <td>{{ commande_client.totalHt }}</td>
                        <td>{{ commande_client.totalTva }}</td>
                        <td>{{ commande_client.totalTtc }}</td>
                        <td>{{ commande_client.coupon }}</td>
                        <td>{{ commande_client.numeroFacture }}</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="p-0">
                            <div class="collapse" id="accordion{{ commande_client.id }}">
                                <div class="card card-body">
                                    <table class="table table-striped">
                                        <thead class="table-primary">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Produit</th>
                                            <th scope="col">Prix</th>
                                            <th scope="col">Qte cmd</th>
                                            <th scope="col">P.T cmd</th>
                                            <th scope="col">Qte Livrée</th>
                                            <th scope="col">P.T livré</th>
                                            <th scope="col">Commentaire</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for produit_commande_client in produit_commande_clients %}
                                            {% if produit_commande_client.numeroCommande == commande_client.numeroCommande %}
                                                <form method="post" action="{{ path('app_commande_client_modifier', {id: produit_commande_client.id}) }}">
                                                    <tr>
                                                        <th scope="row">{{ produit_commande_client.produit.numeroArticle }}</th>
                                                        <td>{{ produit_commande_client.produit.libelle }}</td>
                                                        <td>{{ produit_commande_client.produit.prixVente }} FCFA</td>
                                                        <td>{{ produit_commande_client.quantite }}</td>
                                                        <td>{{ produit_commande_client.prixTotal }} FCFA</td>
                                                        <td>
                                                            <input type="number" {{ commande_client.etatTraite ? 'disabled' : '' }} style="width:100px" class="qte-input" min="0"
                                                                   max="{{ produit_commande_client.quantite }}"
                                                                   name="qte{{ produit_commande_client.id }}"
                                                                   value="{{ produit_commande_client.quantiteLivree == null ? 0 : produit_commande_client.quantiteLivree  }}"
                                                                   data-produit-id="{{ produit_commande_client.id }}">
                                                        </td>
                                                        <td>
                                                            <input type="number" {{ commande_client.etatValide ? 'disabled' : '' }} readonly class="prix-total-input"
                                                                   name="prixTotal{{ produit_commande_client.id }}"
                                                                   value="{{ produit_commande_client.quantiteLivree == null ? 0 : produit_commande_client.quantiteLivree * produit_commande_client.produit.prixVente }}">
                                                        </td>
                                                        <td>
                                                            {{ produit_commande_client.commentaire }}
                                                        </td>
                                                        <td>
                                                            <button {{ commande_client.etatTraite ? 'disabled' : '' }} type="submit" class="btn btn-warning"><i class="fa fa-send"></i></button>
                                                        </td>
                                                    </tr>
                                                </form>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="text-end">
                                        {% set i = 0 %}
                                        {% for produit_commande_client in produit_commande_clients %}
                                            {% if produit_commande_client.numeroCommande == commande_client.numeroCommande %}
                                                {% set i = i + 1 %}
                                                {% if i == 1 %}
                                                    <a data-bs-toggle="modal" data-bs-target="#traiterModal{{ commande_client.id }}" href="#" class="{{ commande_client.etatTraite ? 'disabled' : '' }} btn btn-primary">Traiter <i class="fa fa-pencil"></i></a>
                                                    {% if commande_client.etatTraite and commande_client.etatValide %}
                                                        <a data-bs-toggle="modal" data-bs-target="#validerModal{{ commande_client.id }}" href="#" class="disabled btn btn-success">Valider <i class="fa fa-send"></i></a>
                                                    {% elseif commande_client.etatTraite == false %}
                                                        <a data-bs-toggle="modal" data-bs-target="#validerModal{{ commande_client.id }}" href="#" class="disabled btn btn-success">Valider <i class="fa fa-send"></i></a>
                                                    {% elseif commande_client.etatTraite and commande_client.etatValide == false %}
                                                        <a data-bs-toggle="modal" data-bs-target="#validerModal{{ commande_client.id }}" href="#" class="btn btn-success">Valider <i class="fa fa-send"></i></a>
                                                    {% endif %}
                                                    <a href="{{ path('app_commande_client_voir_bons', {id: commande_client.id}) }}" class="btn btn-info" title="Voir bon"><i class="fa fa-eye"></i></a>
                                                {% if commande_client.etatTraite == false and commande_client.etatValide == false %}
                                                    <a data-bs-toggle="modal" data-bs-target="#supprimerModal{{ commande_client.id }}" href="#" class="btn btn-danger" title="Supprimer"><i class="fa fa-trash"></i></a>
                                                {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="traiterModal{{ commande_client.id }}" tabindex="-1" aria-labelledby="traiterModalLabel{{ commande_client.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="traiterModalLabel{{ commande_client.id }}">Traitement</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4>Etes-vous sûr de bien vouloir <span class="text-danger">marquer cette commande comme traitée</span> ?
                                        <br>Cette action est irreverssible</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{{ path('app_commande_client_traiter', {id: commande_client.id}) }}" class="btn btn-primary">Traiter</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="validerModal{{ commande_client.id }}" tabindex="-1" aria-labelledby="validerModalLabel{{ commande_client.id }}" aria-hidden="true">
                        <form action="{{ path('app_commande_client_valider', {id: commande_client.id}) }}" method="post">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="validerModalLabel{{ commande_client.id }}">Validation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Etes-vous sûr de bien vouloir <span class="text-danger">valider</span> cette commande ?
                                            <br>Cette action est irreverssible</h5>
                                            <div class="form-group mt-3">
                                                <label for="dateLivraison">Date de livraison <span class="text-danger">*</span></label>
                                                <input required type="date" name="dateLivraison" id="dateLivraison" class="form-control">
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="echeance">Echéance <span class="text-danger">*</span></label>
                                                <input required type="text" name="echeance" id="echeance" class="form-control">
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="coupon">Coupon</label>
                                                <input type="text" name="coupon" id="coupon" class="form-control">
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="moyenPaiement">Moyen de paiement <span class="text-danger">*</span></label>
                                                <select required name="moyenPaiement" id="moyenPaiement" class="form-control">
                                                    <option value="">Sélectionnez un moyen de paiement</option>
                                                    {% for moyen_reglement in moyen_reglements %}
                                                        <option value="{{ moyen_reglement.id }}">{{ moyen_reglement.libelle }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success">Valider</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="supprimerModal{{ commande_client.id }}" tabindex="-1" aria-labelledby="supprimerModalLabel{{ commande_client.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="supprimerModalLabel{{ commande_client.id }}">Suppression</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4>Etes-vous sûr de bien vouloir <span class="text-danger">supprimer</span> cette commande ?
                                        <br>Cette action est irreverssible</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{{ path('app_commande_client_supprimer', {id: commande_client.id}) }}" class="btn btn-danger">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(commande_clients) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/search.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.qte-input').change(function() {
                var qte = $(this).val();
                var produitId = $(this).data('produit-id');
                var prixVente = parseFloat($(`td:nth-child(3)`, $(this).closest('tr')).text()); // Récupérer le texte dans la 3ème cellule de la ligne actuelle
                var prixTotal = qte * prixVente || 0;
                $(`input[name="prixTotal${produitId}"]`).val(prixTotal.toFixed(0));
            });
        });
    </script>
{% endblock %}
