{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- ========== table components start ========== -->
    <section class="section">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title mb-30">
                            <h2>Dashboard</h2>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper mb-30">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#0">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Tables
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- ========== title-wrapper end ========== -->

            {% if 'ROLE_ADMIN' in app.user.roles %}
                <!-- ========== title-wrapper end ========== -->
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="icon-card mb-30">
                            <div class="icon orange">
                                <i class="lni lni-jsfiddle"></i>
                            </div>
                            <div class="content">
                                <h6 class="mb-10">Commande client</h6>
                                <h6 class="text-bold mb-10">{{ somme_commande_client_encours|number_format(0, '.', '.') }} FCFA</h6>
                                <p class="text-sm text-danger">
                                    <i class="lni lni-cart-full"></i> {{ nb_commande_client_encours }}
                                    <span class="text-gray">Encour{{ nb_commande_client_encours > 1 ? 's':'' }}</span>
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>
                    <!-- End Col -->
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="icon-card mb-30">
                            <div class="icon success">
                                <i class="lni lni-checkmark"></i>
                            </div>
                            <div class="content">
                                <h6 class="mb-10">Commande client</h6>
                                <h6 class="text-bold mb-10">{{ somme_commande_client_traites|number_format(0, '.', '.') }} FCFA</h6>
                                <p class="text-sm text-success">
                                    <i class="lni lni-cart-full"></i> {{ nb_commande_client_traite }}
                                    <span class="text-gray">Traitée{{ nb_commande_client_traite > 1 ? 's':'' }}</span>
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>
                    <!-- End Col -->
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="icon-card mb-30">
                            <div class="icon orange">
                                <i class="lni lni-spinner"></i>
                            </div>
                            <div class="content">
                                <h6 class="mb-10">Commande client</h6>
                                <h6 class="text-bold mb-10">{{ somme_commande_client_attente_validations|number_format(0, '.', '.') }} FCFA</h6>
                                <p class="text-sm text-danger">
                                    <i class="lni lni-cart-full"></i> {{ nb_commande_client_en_attente_validation }}
                                    <span class="text-gray"> Attente{{ nb_commande_client_en_attente_validation > 1 ? 's':'' }} validation{{ nb_commande_client_en_attente_validation > 1 ? 's':'' }}</span>
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>
                    <!-- End Col -->
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="icon-card mb-30">
                            <div class="icon success">
                                <i class="lni lni-checkmark"></i>
                            </div>
                            <div class="content">
                                <h6 class="mb-10">Commande client</h6>
                                <h6 class="text-bold mb-10">{{ somme_commande_client_validees|number_format(0, '.', '.') }} FCFA</h6>
                                <p class="text-sm text-success">
                                    <i class="lni lni-cart-full"></i> {{ nb_commande_client_validee }}
                                    <span class="text-gray"> Validée{{ nb_commande_client_validee > 1 ? 's':'' }}</span>
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>
                    <!-- End Col -->
                </div>
                <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30">
                        <div class="icon orange">
                            <i class="lni lni-jsfiddle"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-10">Commande fournisseur</h6>
                            <p class="text-sm text-danger">
                                <i class="lni lni-cart-full"></i> {{ nb_commande_fournisseur_encours }}
                                <span class="text-gray"> Encour{{ nb_commande_fournisseur_encours > 1 ? 's':'' }}</span>
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Cart -->
                </div>
                <!-- End Col -->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30">
                        <div class="icon success">
                            <i class="lni lni-checkmark"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-10">Commande fournisseur</h6>
                            <p class="text-sm text-success">
                                <i class="lni lni-cart-full"></i> {{ nb_commande_fournisseur_traite }}
                                <span class="text-gray"> Traitée{{ nb_commande_fournisseur_traite > 1 ? 's':'' }}</span>
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Cart -->
                </div>
                <!-- End Col -->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30">
                        <div class="icon orange">
                            <i class="lni lni-spinner"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-10">Commande fournisseur</h6>
                            <p class="text-sm text-danger">
                                <i class="lni lni-cart-full"></i> {{ nb_commande_fournisseur_en_attente_validation }}
                                <span class="text-gray"> Attente{{ nb_commande_fournisseur_en_attente_validation > 1 ? 's':'' }} validation{{ nb_commande_fournisseur_en_attente_validation > 1 ? 's':'' }}</span>
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Cart -->
                </div>
                <!-- End Col -->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30">
                        <div class="icon success">
                            <i class="lni lni-checkmark"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-10">Commande fournisseur</h6>
                            <p class="text-sm text-success">
                                <i class="lni lni-cart-full"></i> {{ nb_commande_fournisseur_validee }}
                                <span class="text-gray"> Validée{{ nb_commande_fournisseur_validee > 1 ? 's':'' }}</span>
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Cart -->
                </div>
                <!-- End Col -->
            </div>
            {% else %}
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="icon-card mb-30">
                            <div class="icon bg-warning">
                            </div>
                            <div class="content">
                                <h6 class="mb-10">Monnaie</h6>
                                <h6 class="text-bold text-warning mb-10">{{ (monnaie == null ? 0 : monnaie)|number_format(0, '.', '.') }} FCFA</h6>
                                <p class="text-sm text-danger">
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>
                    <!-- End Col -->
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="icon-card mb-30">
                            <div class="icon bg-danger">
                            </div>
                            <div class="content">
                                <h6 class="mb-10">Points de fidélité </h6>
                                <h6 class="text-bold text-danger mb-10">{{ points == null ? 0 : points }} pts</h6>
                                <p class="text-sm text-success">
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>
                    <!-- End Col -->
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="icon-card mb-30">
                            <div class="icon bg-info">
                            </div>
                            <div class="content">
                                <h6 class="mb-10">Historiques d'achat</h6>
                                <p class="text-sm text-danger">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#historiqueAchat" class="btn btn-info"><i class="lni lni-spinner"></i> Voir l'historique</a>
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>
                    <!-- End Col -->
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="icon-card mb-30">
                            <div class="icon bg-secondary">
                            </div>
                            <div class="content">
                                <h6 class="mb-10">Coupons </h6>
                                <p class="text-sm text-success">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#coupons" class="btn btn-secondary"><i class="lni lni-checkmark"></i> Voir les coupons</a>
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>

                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="icon-card mb-30">
                            <div class="icon bg-primary">
                            </div>
                            <div class="content">
                                <h6 class="mb-10">Remises spéciales </h6>
                                <p class="text-sm text-success">
                                    <a href="" class="btn btn-primary"><i class="lni lni-checkmark"></i> Voir les remises</a>
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>

                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="icon-card mb-30">
                            <div class="icon bg-success"></div>
                            <div class="content">
                                <h6 class="mb-10">Feedback </h6>
                                <p class="text-sm text-success">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#feedback" class="btn btn-success"><i class="lni lni-envelope"></i> Envoyer</a>
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>

                    <div class="col-xl-12 col-lg-12 col-sm-12">
                        <div class="icon-card mb-30">
                            <div class="content">
                                <h6 class="mb-10">Modifier mon mot de passe </h6>
                                <p class="text-sm text-success">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#password" class="btn btn-success form-control"><i class="lni lni-protection"></i> Modifier</a>
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>
                    <!-- End Col -->
                </div>
            {% endif %}
            <!-- End Row -->
        </div>
        <!-- end container -->
    </section>
    <!-- ========== table components end ========== -->


    <!-- Modal historiqueAchat -->
    <div class="modal fade" id="historiqueAchat" tabindex="-1" aria-labelledby="historiqueAchatLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <form action="{{ path('app_add_feedback') }}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="historiqueAchatLabel">Historique des achats</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card p-1" style="overflow: scroll;height: 400px">
                            <div class="row  bg-info-600">
                                <div class="col-4">Numéro commande</div>
                                <div class="col-3">Total</div>
                                <div class="col-3 btn">Date commande</div>
                                <div class="col-2">Etat commande</div>
                            </div>
                            <hr>
                            {% for cmdClient in cmdClients %}
                                <a href="#" data-bs-toggle="modal" data-bs-target="#cmdClient{{ cmdClient.id }}">
                                    <div class="row">
                                        <div class="col-4">#{{ cmdClient.numeroCommande }}</div>
                                        <div class="col-3">{{ cmdClient.totalTtc }} FCFA</div>
                                        <div class="col-3 btn">{{ cmdClient.dateCommandeAt|date('d-m-Y') }}</div>
                                        <div class="col-2 {{ cmdClient.etatValide ? 'text-success' : 'text-danger' }}"><i class="{{ cmdClient.etatValide ? 'fa fa-check' : 'fa fa-close' }}"></i></div>
                                    </div>
                                    <hr>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% for cmdClient in cmdClients %}
    <!-- Modal password -->
    <div class="modal fade" id="cmdClient{{ cmdClient.id }}" tabindex="-1" aria-labelledby="cmdClientLabel{{ cmdClient.id }}" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="cmdClientLabel{{ cmdClient.id }}">Liste des produits commandé (#{{ cmdClient.numeroCommande }})</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card p-1" style="overflow: scroll;height: 400px">
                            <div class="row bg-success-600">
                                <div class="col-1">Image</div>
                                <div class="col-2">Libellé</div>
                                <div class="col-1">Qté cmd</div>
                                <div class="col-1">Total cmd</div>
                                <div class="col-2">Qté livrée</div>
                                <div class="col-1">Total livré</div>
                                <div class="col-3">Commentaire</div>
                                <div class="col-1">Etat</div>
                            </div>
                            <hr>
                            {% for prdCmdClient in prdCmdClients %}
                                {% if prdCmdClient.commandeClient.id == cmdClient.id %}
                                    <div class="row" title="{{ prdCmdClient.produit.numeroArticle }}">
                                        <div class="col-1"><img style="height: 50px;width: 50px" src="{{ asset('uploads/images/' ~ prdCmdClient.produit.image) }}" /></div>
                                        <div class="col-2">{{ prdCmdClient.produit.libelle }}</div>
                                        <div class="col-1">{{ prdCmdClient.quantite }}</div>
                                        <div class="col-1">{{ prdCmdClient.prixTotal }} FCFA</div>
                                        <div class="col-2">{{ prdCmdClient.quantiteLivree == null ? 0 : prdCmdClient.quantiteLivree }}</div>
                                        <div class="col-1">{{ prdCmdClient.produit.prixVente * prdCmdClient.quantiteLivree }} FCFA</div>
                                        <div class="col-3">{{ prdCmdClient.commentaire }}</div>
                                        <div class="col-1 {{ prdCmdClient.etatTraite ? 'text-success' : 'text-danger' }}"><i class="{{ prdCmdClient.etatTraite ? 'fa fa-check' : 'fa fa-close' }}"></i></div>
                                    </div>
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Modal coupons-->
    <div class="modal fade" id="coupons" tabindex="-1" aria-labelledby="couponsLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="couponsLabel">Liste des coupons</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card p-1" style="overflow: scroll;height: 400px">
                            <div class="row bg-info-600">
                                <div class="col-4">Coupon</div>
                                <div class="col-4">Montant restant</div>
                                <div class="col-4 btn">Dernière mise à jour</div>
                            </div>
                            <hr>
                            {% for coupon in coupons %}
                                {% if coupon.coupon.etat %}
                                    <div class="row">
                                        <div class="col-4">{{ coupon.coupon.libelle }}</div>
                                        <div class="col-4">{{ coupon.coupon.montant - coupon.montantUtilise }} FCFA</div>
                                        <div class="col-4 btn">{{ coupon.createdAt|date('d-m-Y') }}</div>
                                    </div>
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
            </div>
        </div>
    </div>

    <!-- Modal feedback-->
    <div class="modal fade" id="feedback" tabindex="-1" aria-labelledby="feedbackLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <form action="{{ path('app_add_feedback') }}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="feedbackLabel">Envoyez-nous un feedback</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label for="" class="text-danger">*</label>
                            <input type="text" required class="form-control" placeholder="Entrez le titre..." name="title">
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="text-danger">*</label>
                            <textarea class="form-control" required rows="4" placeholder="Entrez le contenu..." name="content"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-send"></i> Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal password -->
    <div class="modal fade" id="password" tabindex="-1" aria-labelledby="passwordLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <form id="passform" action="{{ path('app_users_edit_password') }}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="passwordLabel">Modification du mot de passe</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <input type="password" required id="password" class="form-control" placeholder="Mot de passe actuel..." name="password">
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" required class="form-control" placeholder="Nouveau mot de passe..." name="newPassword">
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" required class="form-control" placeholder="Confirmation du nouveau mot de passe..." name="newPassword2">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-success" id="submitPass"><i class="fa fa-send"></i> Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
