{% extends 'base.html.twig' %}

{% block title %}Liste des règlements{% endblock %}

{% block body %}
<section class="table-components table-responsive table-responsive mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2>Liste des règlements</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mt-3">
                <button id="exportCSV" onclick="exportCSV()" class="btn btn-warning">CSV</button>
                <button id="exportExcel" onclick="exportExcel()" n class="btn btn-warning">Excel</button>
                <button id="exportPDF" onclick="exportPDF()" class="btn btn-warning">PDF</button>
            </div>
            <div class="col-2 text-end mt-3">
                <input type="text" id="search-all" class="form-control" placeholder="Search in tableau">
            </div>
        </div>
        <table class="table table-striped mt-3" id="myTable">
            <thead class="table-dark">
            <tr>
                <th>N° commande</th>
                <th>Moyen règlement</th>
                <th>Montant</th>
                <th>Échéance</th>
            </tr>
            </thead>
            <tbody>
            {% for reglement in reglements %}
                <tr>
                    <td>{{ reglement.commandeClient.numeroCommande }}</td>
                    <td>{{ reglement.modeReglement.libelle }}</td>
                    <td>{{ reglement.montant }} FCFA</td>
                    <td>{{ reglement.echeanceAt }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(reglements) }}
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}
