{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block body %}

    <section class="signin-section">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title mb-30">
                            <h2>Inscription</h2>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper mb-30">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#0">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#0">Auth</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Inscription
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- ========== title-wrapper end ========== -->
            <div class="row g-0 auth-row">
                <!-- end col -->
                <div class="col-lg-12">
                    <div class="signup-wrapper">
                        <div class="form-wrapper">
                            {{ form_start(registrationForm) }}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-style-1">
                                            {{ form_row(registrationForm.username, {
                                                attr: {
                                                    class: 'form-control'
                                                }
                                            }) }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-style-1">
                                            {{ form_row(registrationForm.nom, {
                                                attr: {
                                                    class: 'form-control'
                                                }
                                            }) }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-style-1">
                                            {{ form_row(registrationForm.prenoms, {
                                                attr: {
                                                    class: 'form-control'
                                                }
                                            }) }}
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-12">
                                        <div class="input-style-1">
                                            {{ form_row(registrationForm.adresse, {
                                                label: 'Adresse',
                                                attr: {
                                                    class: 'form-control'
                                                }
                                            }) }}
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-12">
                                        <div class="input-style-1">
                                            {{ form_row(registrationForm.plainPassword, {
                                                label: 'Password',
                                                attr: {
                                                    class: 'form-control'
                                                }
                                            }) }}
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-12">
                                        <div class="input-style-1">
                                            {{ form_row(registrationForm.entreprise, {
                                                label: 'Entreprise',
                                                attr: {
                                                    class: 'form-control'
                                                }
                                            }) }}
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-12">
                                        <div class="input-style-1">
                                            {{ form_row(registrationForm.ville, {
                                                label: 'Ville',
                                                attr: {
                                                    class: 'form-control'
                                                }
                                            }) }}
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-12">
                                        <div class="input-style-1">
                                            {{ form_row(registrationForm.tel, {
                                                label: 'Téléphone',
                                                attr: {
                                                    class: 'form-control'
                                                }
                                            }) }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <style>
                                            #select-multiple {
                                                width: 100% !important;
                                            }
                                        </style>
                                        <div class="input-style-1">
                                            <label for="select-multiple">Veuillez choisir un ou plusieurs rôles</label>
                                            <select id="select-multiple" required class="form-control" name="roles">
                                                <option value="">Veuillez choisir un ou plusieurs rôles</option>
                                                {% for role in roles %}
                                                    <option value="{{ role.libelle }}">{{ role.libelle }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-12">
                                        <div class="button-group d-flex justify-content-center flex-wrap">
                                            <button type="submit" class="main-btn primary-btn btn-hover w-100 text-center mt-3">Inscrire</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </section>
{% endblock %}

{% block javascripts %}

{% endblock %}
