{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
<section class="table-components table-responsive mt-5">
    <div class="container-fluid">

        <div class="row">
            <div class="col-6">
                <h2>Liste des catégories</h2>
            </div>
            <div class="col-6 text-end">
                <a href="{{ path('app_category_new') }}" class="btn btn-primary">Ajouter une catégorie</a>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mt-3">
                <button id="exportCSV" onclick="exportCSV()" class="btn btn-warning">CSV</button>
                <button id="exportExcel" onclick="exportExcel()" n class="btn btn-warning">Excel</button>
                <button id="exportPDF" onclick="exportPDF()" class="btn btn-warning">PDF</button>
            </div>
            <div class="col-2 text-end mt-3">
                <input type="text" id="search-all" class="form-control" placeholder="Search in tableau">
            </div>
        </div>

        <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.libelle }}</td>
                <td>
                    <a class="text-dark-emphasis" href="{{ path('app_category_edit', {'id': category.id}) }}">
                        <i class="lni lni-pencil"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        <!-- Affichez les liens de pagination -->
        </tbody>
    </table>
        {{ knp_pagination_render(categories) }}

    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}
