{{ form_start(form) }}
    {{ form_row(form.libelle, {
        label: "Libellé",
        attr: {
            placeholder: "Libellé",
            class: "form-control mb-3"
        }
    }) }}
    {{ form_row(form.prixAchat, {
        label: "Prix achat",
        attr: {
            placeholder: "Prix achat",
            class: "form-control mb-3"
        }
    }) }}
    {{ form_row(form.prixVente, {
        label: "Prix vente",
        attr: {
            placeholder: "Prix vente",
            class: "form-control mb-3"
        }
    }) }}
    {{ form_row(form.tva, {
        label: "Tva",
        attr: {
            placeholder: "Tva",
            class: "form-control mb-3"
        }
    }) }}
    {{ form_row(form.stock, {
        label: "Stock",
        attr: {
            placeholder: "Stock",
            class: "form-control mb-3"
        }
    }) }}
    {{ form_row(form.datePeremptionAt, {
        label: "Date de péremption",
        attr: {
            placeholder: "Date de péremption",
            class: "form-control mb-3"
        }
    }) }}
    {% if edit == 'false' %}
        {{ form_row(form.image, {
            label: "Image",
            attr: {
                placeholder: "Image",
                class: "form-control mb-3"
            }
        }) }}
    {% endif %}
    {{ form_row(form.numeroArticle, {
        label: "N° Article",
        attr: {
            placeholder: "N° Article",
            class: "form-control mb-3"
        }
    }) }}
    {{ form_row(form.category, {
        label: "Catégorie",
        attr: {
            placeholder: "Catégorie",
            class: "form-control mb-3"
        }
    }) }}
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
