{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
<section class="table-components table-responsive table-responsive mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2>Liste des clients</h2>
            </div>
            <div class="col-6 text-end">
                <a href="{{ path('app_client_new') }}" class="btn btn-primary">Ajouter un client</a>
            </div>
        </div>

    <table class="table table-striped table-bordered mt-3">
        <thead class="table-dark">
            <tr>
                <th>Code</th>
                <th>Libelle</th>
                <th>Responsable</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Matfiscal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.code }}</td>
                <td>{{ client.libelle }}</td>
                <td>{{ client.responsable }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.tel }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.matfiscal }}</td>
                <td>
                    <a class="text-dark-emphasis" href="{{ path('app_client_edit', {'id': client.id}) }}">
                        <i class="lni lni-pencil"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</section>
{% endblock %}
