<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{{ asset('admin/assets/images/favicon.svg') }}" type="image/x-icon"/>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="{{ asset('admin/assets/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('admin/assets/css/lineicons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('admin/assets/css/materialdesignicons.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('admin/assets/css/main.css') }}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="print" href="{{ asset('css/print.css') }}" />

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% for messageSuccess in app.flashes('success') %}
    <div class="alert alert-success text-center messageSuccess">
        {{ messageSuccess }}
    </div>
{% endfor %}

{% for messageError in app.flashes('error') %}
    <div class="alert alert-danger text-center messageError">
        {{ messageError }}
    </div>
{% endfor %}
<!-- ======== sidebar-nav start =========== -->
<aside class="sidebar-nav-wrapper print">
    <div class="navbar-logo">
        <a href="{{ path('app_dashboard') }}">
            <img src="{{ asset('images/edstock1.jpeg') }}" style="width: 70px; height: 40px" alt="logo"/>
        </a>
    </div>
    <nav class="sidebar-nav">
        <span class="divider"><hr/></span>
        <ul>
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <li class="nav-item {{ app.request.attributes.get('_route') == 'app_produit_index' ? 'active' : '' }}">
                    <a href="{{ path('app_produit_index') }}">
                  <span class="icon">
                    <i class="lni lni-producthunt"></i>
                  </span>
                        <span class="text">Produits</span>
                    </a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == 'app_client_index' ? 'active' : '' }}">
                    <a href="{{ path('app_client_index') }}">
                  <span class="icon">
                    <i class="lni lni-users"></i>
                  </span>
                        <span class="text">Clients</span>
                    </a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == 'app_fournisseur_index' ? 'active' : '' }}">
                    <a href="{{ path('app_fournisseur_index') }}">
                  <span class="icon">
                    <i class="lni lni-users"></i>
                  </span>
                        <span class="text">Fournisseurs</span>
                    </a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == 'app_category_index' ? 'active' : '' }}">
                    <a href="{{ path('app_category_index') }}">
                          <span class="icon">
                            <i class="lni lni-list"></i>
                          </span>
                        <span class="text">Catégories</span>
                    </a>
                </li>

                <li class="nav-item nav-item-has-children {{ app.request.attributes.get('_route') == 'app_commande_client_index' or
                app.request.attributes.get('_route') == 'app_commande_fournisseur_index' ? 'active' : '' }}">
                    <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_c_c" aria-controls="ddmenu_c_c" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="icon">
                              <i class="fa fa-shopping-cart"></i>
                          </span>
                        <span class="text">Commande</span>
                    </a>
                    <ul id="ddmenu_c_c" class="collapse dropdown-nav mx-4">
                        <li>
                            <a href="{{ path('app_commande_client_index') }}" class=""><i class="lni lni-user"></i> Client </a>
                        </li>
                        <li>
                            <a href="{{ path('app_commande_fournisseur_index') }}" class=""><i class="lni lni-network"></i> Fournisseur </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == 'app_fidelisation_index' ? 'active' : '' }}">
                    <a href="{{ path('app_fidelisation_index') }}">
                  <span class="icon">
                    <i class="lni lni-hand"></i>
                  </span>
                        <span class="text">Fidelisation</span>
                    </a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == 'app_reglement_index' ? 'active' : '' }}">
                    <a href="{{ path('app_reglement_index') }}">
                  <span class="icon">
                    <i class="lni lni-codepen"></i>
                  </span>
                        <span class="text">Règlement</span>
                    </a>
                </li>

                <li class="nav-item nav-item-has-children {{ app.request.attributes.get('_route') == 'app_coupons_index' or
                app.request.attributes.get('_route') == 'app_attribuer_coupon' ? 'active' : '' }}">
                    <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_2" aria-controls="ddmenu_2" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon">
                  <i class="lni lni-code"></i>
              </span>
                        <span class="text">Coupons</span>
                    </a>
                    <ul id="ddmenu_2" class="collapse dropdown-nav mx-4">
                        <li>
                            <a href="{{ path('app_coupons_index') }}"> <i class="lni lni-gift"></i> Liste </a>
                        </li>

                        <li>
                            <a href="{{ path('app_coupons_liste_attribue') }}"> <i class="fa fa-external-link"></i> Attribution </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == 'app_sorties_index' ? 'active' : '' }}">
                    <a href="{{ path('app_sorties_index') }}">
                  <span class="icon">
                    <i class="fa fa-chain-broken"></i>
                  </span>
                        <span class="text">Sorties</span>
                    </a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == 'app_lot' ? 'active' : '' }}">
                    <a href="{{ path('app_lot') }}">
                  <span class="icon">
                    <i class="fa fa-gift"></i>
                  </span>
                        <span class="text">Lots</span>
                    </a>
                </li>

                <li class="nav-item nav-item-has-children {{ app.request.attributes.get('_route') == 'app_users' or
                app.request.attributes.get('_route') == 'app_roles_index' or
                app.request.attributes.get('_route') == 'app_envoi_sms_index' or
                app.request.attributes.get('_route') == 'app_moyen_reglement_index' ? 'active' : '' }}">
                <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_3" aria-controls="ddmenu_3" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon">
                  <i class="lni lni-cog"></i>
              </span>
                    <span class="text">Paramètres</span>
                </a>
                <ul id="ddmenu_3" class="collapse dropdown-nav mx-4">
                    <li>
                        <a href="{{ path('app_envoi_sms_index') }}"> <i class="lni lni-mobile"></i> SMS </a>
                    </li>

                    <li>
                        <a href="{{ path('app_users') }}"> <i class="lni lni-users"></i> Utilisateurs </a>
                    </li>
                    <li>
                        <a href="{{ path('app_roles_index') }}"> <i class="lni lni-microphone"></i> Roles </a>
                    </li>
                    <li>
                        <a href="{{ path('app_moyen_reglement_index') }}"> <i class="lni lni-money-location"></i> Moyen de règlement </a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="promo-box">
        <a
                href="https://plainadmin.com/pro"
                target="_blank"
                rel="nofollow"
                class="main-btn primary-btn btn-hover"
        >
            Purchase Now
        </a>
    </div>
</aside>
<div class="overlay print"></div>
<!-- ======== sidebar-nav end =========== -->
<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">
    <!-- ========== header start ========== -->
    <header class="header print">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-6">
                    <div class="header-left d-flex align-items-center">
                        <div class="menu-toggle-btn mr-20">
                            <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                                <i class="lni lni-chevron-left me-2"></i> Menu
                            </button>
                        </div>
                        {#<div class="header-search d-none d-md-flex">
                            <form action="#">
                                <input type="text" placeholder="Search..."/>
                                <button><i class="lni lni-search-alt"></i></button>
                            </form>
                        </div>#}
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-6">
                    <div class="header-right">
                        <!-- notification start -->
                        {#<div class="notification-box ml-15 d-none d-md-flex">
                            <button
                                    class="dropdown-toggle"
                                    type="button"
                                    id="notification"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                <i class="lni lni-alarm"></i>
                                <span>2</span>
                            </button>
                            <ul
                                    class="dropdown-menu dropdown-menu-end"
                                    aria-labelledby="notification"
                            >
                                <li>
                                    <a href="#0">
                                        <div class="image">
                                            <img src="{{ asset('admin/assets/images/lead/lead-6.png') }}" alt=""/>
                                        </div>
                                        <div class="content">
                                            <h6>
                                                {{ app.user.username }}
                                                <span class="text-regular">
                              comment on a product.
                            </span>
                                            </h6>
                                            <p>
                                                Lorem ipsum dolor sit amet, consect etur adipiscing
                                                elit Vivamus tortor.
                                            </p>
                                            <span>10 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <div class="image">
                                            <img src="{{ asset('admin/assets/images/lead/lead-1.png') }}" alt=""/>
                                        </div>
                                        <div class="content">
                                            <h6>
                                                Jonathon
                                                <span class="text-regular">
                              like on a product.
                            </span>
                                            </h6>
                                            <p>
                                                Lorem ipsum dolor sit amet, consect etur adipiscing
                                                elit Vivamus tortor.
                                            </p>
                                            <span>10 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>#}
                        <!-- notification end -->
                        <!-- message start -->
                        {#<div class="header-message-box ml-15 d-none d-md-flex">
                            <button
                                    class="dropdown-toggle"
                                    type="button"
                                    id="message"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                <i class="lni lni-envelope"></i>
                                <span>3</span>
                            </button>
                            <ul
                                    class="dropdown-menu dropdown-menu-end"
                                    aria-labelledby="message"
                            >
                                <li>
                                    <a href="#0">
                                        <div class="image">
                                            <img src="{{ asset('admin/assets/images/lead/lead-5.png') }}" alt=""/>
                                        </div>
                                        <div class="content">
                                            <h6>Jacob Jones</h6>
                                            <p>Hey!I can across your profile and ...</p>
                                            <span>10 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <div class="image">
                                            <img src="{{ asset('admin/assets/images/lead/lead-3.png') }}" alt=""/>
                                        </div>
                                        <div class="content">
                                            <h6>John Doe</h6>
                                            <p>Would you mind please checking out</p>
                                            <span>12 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <div class="image">
                                            <img src="{{ asset('admin/assets/images/lead/lead-2.png') }}" alt=""/>
                                        </div>
                                        <div class="content">
                                            <h6>Anee Lee</h6>
                                            <p>Hey! are you available for freelance?</p>
                                            <span>1h ago</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>#}
                        <!-- message end -->
                        <!-- filter start -->
                        {#<div class="filter-box ml-15 d-none d-md-flex">
                            <button class="" type="button" id="filter">
                                <i class="lni lni-funnel"></i>
                            </button>
                        </div>#}
                        <!-- filter end -->
                        <!-- profile start -->
                        <div class="profile-box ml-15">
                            <button class="dropdown-toggle bg-transparent border-0" type="button" id="profile" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="profile-info">
                                    <div class="info">
                                        <h6>{{ app.user.username }}</h6>
                                        <div class="image">
                                            <img src="{{ asset('admin/assets/images/profile/profile-image.png') }}" alt=""/>
                                            <span class="status"></span>
                                        </div>
                                    </div>
                                </div>
                                <i class="lni lni-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
                                {#<li>
                                    <a href="#0">
                                        <i class="lni lni-user"></i> Voir Profil
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="lni lni-alarm"></i> Notifications
                                    </a>
                                </li>
                                <li>
                                    <a href="#0"> <i class="lni lni-inbox"></i> Messages </a>
                                </li>
                                <li>
                                    <a href="#0"> <i class="lni lni-cog"></i> Settings </a>
                                </li>#}
                                <li>
                                    <a href="{{ path('app_logout') }}"> <i class="lni lni-exit"></i> Déconnexion </a>
                                </li>
                            </ul>
                        </div>
                        <!-- profile end -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ========== header end ========== -->
    {% block body %}{% endblock %}
    <!-- ========== footer start =========== -->
   {# <footer class="footer print">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 order-last order-md-first">
                    <div class="copyright text-center text-md-start">
                        <p class="text-sm">
                            Designed and Developed by
                            <a
                                    href="https://plainadmin.com"
                                    rel="nofollow"
                                    target="_blank"
                            >
                                PlainAdmin
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="terms d-flex justify-content-center justify-content-md-end">
                        <a href="#0" class="text-sm">Term & Conditions</a>
                        <a href="#0" class="text-sm ml-15">Privacy & Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>#}
    <!-- ========== footer end =========== -->
</main>


<!-- Inclure les fichiers JavaScript de DataTables -->

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#select-multiple').select2({
            placeholder: 'Veuillez choisir un ou plusieurs rôles'
        });
    });
</script>

<script src="{{ asset('admin/assets/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('admin/assets/js/main.js') }}"></script>
<script src="{{ asset('js/jquery.table2excel.js') }}"></script>
<script src="{{ asset('js/export-table.js') }}"></script>
<script src="{{ asset('js/table2csv.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>


<script>
    // ======== jvectormap activation
    function messageSuccess(jQuery ) {
        $(".messageSuccess")
            .delay(3000)  // Delay of 1 second (1000 milliseconds)
            .fadeOut('slow')
            .slideUp(3000)
    }
    $( window ).on( "load", messageSuccess );

    function messageError( jQuery ) {
        $(".messageError")
            .delay(3000)  // Delay of 1 second (1000 milliseconds)
            .fadeOut('slow')
            .slideUp(3000)
    }
    $( window ).on( "load", messageError );
</script>
</body>
</html>
